@media (min-width:900px){
  :root{font-size:17px}

  .header-inner{padding:0.9rem}
  .nav-toggle{display:none}

  /* HEADER */
  #header-logo{
    content:url("../images/myg-large-logo.png");
    width: 200px;
    height: 60px;
  }
  /* NAV */
  .main-nav{
    display:block !important;
    position:static;
    background:transparent;
    border:0;
  }
  .main-nav ul{
    display:flex;
    gap:1.25rem;
    padding:0;
  }
  .main-nav a{
    color:var(--accent);
    padding:0.3rem 0.6rem;
  }
  .main-nav a.active{
    border-bottom:3px solid var(--accent);
    color:var(--accent);
  }
  /* MAIN */
  /* HERO IMAGE */
  .hero{
    padding:2rem 0;
  }
  .hero-inner{padding:2rem}
  .hero-media{
    min-height:420px;
    border-radius:14px;
    background-image:
      linear-gradient(180deg, rgba(122,31,53,0.05), rgba(122,31,53,0.02)),
      url('../images/myg-banner.jpg');
    background-size:cover;
    background-position:center;
  }
  .cta{
    background:rgba(0,0,0,0.75);
    color:var(--accent);
    border-radius:18px;
  }

  /* TESTIMONIES */
  .testimonies{
    padding:2rem;
  }
  .testimony-list{
    grid-template-columns:1fr 1fr;
    gap:1.25rem;
  }
  .testimony-card{
    align-items:center;
  }
  .testimony-thumb{
    width:120px;height:120px;
  }

  .testimony-thumb img {
  width: 100px !important;
  height: 110px !important;
  object-fit: cover;
  }

  .testimony-thumb {
  width: 100px !important;
  height: 110px !important;
  flex-shrink: 0;
  }

  /* FOOTER*/
  .footer-inner{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:2rem;
    text-align:left;
  }

  .footer-left{align-items:flex-start}
  .footer-center{align-items:center}
  .footer-right{
    align-items:flex-end;
    text-align:right;
  }

  .footer-links{
    flex-direction:row;
    justify-content:center;
    gap:2rem;
  }

  .social{
    justify-content:flex-end;
  }

  #footer-logo{
    content:url("../images/myg-logo.png");
    width:100px;
    height: 110px;
  }
}
